:root{
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'work sans', sans-serif;
}

.hero::before{  
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/bunga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
z-index: -1;
}

.hero{
    position: relative;
    min-height: 100vh;

}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

.hero h1{
font-family: 'sacramento', cursive;
font-size: 6rem;
color: var(--bg);
}

.hero h4{
    font-size: 1.6rem;
    color: var(--bg);
}

.hero p{
    font-size: 1.4rem;
    color: var(--bg);
}

.hero a{
    color: var(--pink);
    background-color: transparent;
    
}

.hero a:hover{
    background-color: white;
    color: var(--pink);
    opacity: 70%;
box-shadow: var(--shadow);
}

/*media query*/
/*laptop*/
@media (max-width: 992px){
 html{
    font-size: 75%;
 }
}


/*tablet*/
@media (max-width: 768px){
 html{
    font-size: 65%;
 }

/*mobile*/
@media (max-width: 576px){
 html{
    font-size: 60%;
 }